CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_HAVE_TCM=y
CONFIG_FIQ=y
CONFIG_PGTABLE_LEVELS=3
CONFIG_ARCH_ACTIONS=y
CONFIG_ARCH_AXXIA=y
CONFIG_ARCH_BCM_23550=y
CONFIG_ARCH_BCM_53573=y
CONFIG_ARCH_EXYNOS3=y
CONFIG_SOC_EXYNOS3250=y
CONFIG_SAMSUNG_PM_CHECK=y
CONFIG_SAMSUNG_PM_CHECK_CHUNKSIZE=64
CONFIG_SOC_IMX6SLL=y
CONFIG_ARCH_MMP=y
# Marvell PXA168/910/MMP2 Implementations
CONFIG_MACH_BROWNSTONE=y
CONFIG_MACH_FLINT=y
CONFIG_MACH_MARVELL_JASPER=y
CONFIG_MACH_MMP2_DT=y
CONFIG_CPU_MMP2=y
CONFIG_USB_EHCI_MV_U2O=y
CONFIG_MMP_SRAM=y
CONFIG_ARCH_NPCM=y
CONFIG_ARCH_NPCM7XX=y
CONFIG_POWER_AVS_OMAP=y
CONFIG_POWER_AVS_OMAP_CLASS3=y
CONFIG_OMAP_RESET_CLOCKS=y
CONFIG_OMAP3_L2_AUX_SECURE_SAVE_RESTORE=y
CONFIG_OMAP3_L2_AUX_SECURE_SERVICE_SET_ID=43
CONFIG_OMAP3_SDRC_AC_TIMING=y
CONFIG_OMAP5_ERRATA_801819=y
CONFIG_PXA_SSP=m
CONFIG_ARCH_MDM9615=y
CONFIG_ARCH_REALVIEW=y
CONFIG_MACH_REALVIEW_EB=y
CONFIG_REALVIEW_EB_A9MP=y
CONFIG_MACH_REALVIEW_PBA8=y
CONFIG_MACH_REALVIEW_PBX=y
CONFIG_ARCH_S5PV210=y
CONFIG_CPU_S5PV210=y
# CONFIG_ARCH_R8A77470 is not set
# CONFIG_ARCH_R9A06G032 is not set
# CONFIG_ARCH_RZN1 is not set
CONFIG_SOCFPGA_SUSPEND=y
CONFIG_ARCH_TANGO=y
CONFIG_ARCH_VEXPRESS_DCSCB=y
CONFIG_PLAT_VERSATILE_SCHED_CLOCK=y
CONFIG_ARCH_ZX=y
CONFIG_SOC_ZX296702=y
CONFIG_PLAT_PXA=y
CONFIG_ARM_LPAE=y
CONFIG_ARM_PV_FIXUP=y
CONFIG_CACHE_L2X0_PMU=y
CONFIG_CACHE_UNIPHIER=y
CONFIG_ARM_L1_CACHE_SHIFT_7=y
CONFIG_ARM_L1_CACHE_SHIFT=7
# CONFIG_DEBUG_ALIGN_RODATA is not set
CONFIG_ARM_ERRATA_773022=y
CONFIG_ARM_ERRATA_818325_852422=y
CONFIG_ARM_ERRATA_821420=y
CONFIG_ARM_ERRATA_825619=y
CONFIG_ARM_ERRATA_852421=y
CONFIG_ARM_ERRATA_852423=y
CONFIG_PCI_ATS=y
CONFIG_PCI_PRI=y
CONFIG_PCI_PASID=y
CONFIG_HOTPLUG_PCI=y
# CONFIG_HOTPLUG_PCI_SHPC is not set
CONFIG_PCIE_CADENCE=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_PCIE_CADENCE_EP=y
CONFIG_PCI_FTPCI100=y
CONFIG_PCIE_XILINX=y
CONFIG_PCI_V3_SEMI=y
CONFIG_PCIE_ALTERA=y
CONFIG_PCIE_ALTERA_MSI=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_PCI_IMX6=y
CONFIG_PCIE_SPEAR13XX=y
CONFIG_PCI_LAYERSCAPE=y
CONFIG_PCIE_QCOM=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_PCIE_ARTPEC6=y
CONFIG_PCIE_ARTPEC6_HOST=y
CONFIG_PCIE_ARTPEC6_EP=y
CONFIG_PCIE_HISI_STB=y
CONFIG_PCMCIA_LOAD_CIS=y
CONFIG_CARDBUS=y
# PC-card bridges
CONFIG_YENTA_O2=y
CONFIG_YENTA_RICOH=y
CONFIG_YENTA_TI=y
CONFIG_YENTA_ENE_TUNE=y
CONFIG_YENTA_TOSHIBA=y
CONFIG_AT91_CF=m
CONFIG_PCCARD_NONSTATIC=y
CONFIG_SCHED_SMT=y
CONFIG_BIG_LITTLE=y
CONFIG_BL_SWITCHER=y
CONFIG_BL_SWITCHER_DUMMY_IF=m
CONFIG_NR_CPUS=8
CONFIG_THUMB2_KERNEL=y
# CONFIG_THUMB2_AVOID_R_ARM_THM_JUMP11 is not set
CONFIG_HAVE_GENERIC_GUP=y
CONFIG_SYS_SUPPORTS_HUGETLBFS=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_FORCE_MAX_ZONEORDER=14
CONFIG_UACCESS_WITH_MEMCPY=y
CONFIG_DEPRECATED_PARAM_STRUCT=y
CONFIG_ZBOOT_ROM_TEXT=0x0
CONFIG_ZBOOT_ROM_BSS=0x0
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
CONFIG_CPUFREQ_DT=m
CONFIG_ARM_ARMADA_37XX_CPUFREQ=m
CONFIG_ARM_BIG_LITTLE_CPUFREQ=m
CONFIG_ARM_DT_BL_CPUFREQ=m
CONFIG_ARM_VEXPRESS_SPC_CPUFREQ=m
CONFIG_ARM_BRCMSTB_AVS_CPUFREQ=m
CONFIG_ARM_IMX6Q_CPUFREQ=m
CONFIG_ARM_MEDIATEK_CPUFREQ=m
CONFIG_ARM_S5PV210_CPUFREQ=y
CONFIG_ARM_SCMI_CPUFREQ=m
CONFIG_ARM_STI_CPUFREQ=m
CONFIG_ARM_TANGO_CPUFREQ=y
CONFIG_ARM_TEGRA124_CPUFREQ=m
CONFIG_ARM_TEGRA186_CPUFREQ=m
CONFIG_ARM_TI_CPUFREQ=y
CONFIG_QORIQ_CPUFREQ=m
CONFIG_ARM_BIG_LITTLE_CPUIDLE=y
CONFIG_ARM_HIGHBANK_CPUIDLE=y
CONFIG_ARM_U8500_CPUIDLE=y
CONFIG_ARM_MVEBU_V7_CPUIDLE=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_HIBERNATION=y
CONFIG_PM_STD_PARTITION=""
CONFIG_APM_EMULATION=m
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_RASPBERRYPI_FIRMWARE=m
CONFIG_TI_SCI_PROTOCOL=m
CONFIG_TEGRA_IVC=y
CONFIG_TEGRA_BPMP=y
CONFIG_CRYPTO_CRCT10DIF_ARM_CE=m
CONFIG_CRYPTO_SPECK_NEON=m
CONFIG_HAVE_KVM_ARCH_TLB_FLUSH_ALL=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
CONFIG_KVM_ARM_HOST=y
# CONFIG_VHOST_CROSS_ENDIAN_LEGACY is not set
CONFIG_BINFMT_ELF_FDPIC=y
CONFIG_BINFMT_FLAT=y
CONFIG_BINFMT_ZFLAT=y
CONFIG_BINFMT_SHARED_FLAT=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_MMU_NOTIFIER=y
# CONFIG_TRANSPARENT_HUGEPAGE is not set
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_IP_MROUTE_COMMON=y
CONFIG_QRTR=m
CONFIG_QRTR_SMD=m
# CONFIG_QRTR_TUN is not set
CONFIG_HWBM=y
CONFIG_CAN_GRCAN=m
CONFIG_CAN_SUN4I=m
CONFIG_CAN_TI_HECC=m
CONFIG_CAN_XILINXCAN=m
CONFIG_CAN_RCAR_CANFD=m
CONFIG_BT_QCA=m
CONFIG_BT_QCOMSMD=m
CONFIG_MAC80211_LEDS=y
CONFIG_CMA_SIZE_MBYTES=16
CONFIG_IMX_WEIM=y
CONFIG_OMAP_OCP2SCP=m
CONFIG_SUNXI_RSB=m
CONFIG_TEGRA_GMI=m
CONFIG_UNIPHIER_SYSTEM_BUS=m
CONFIG_MTD_AFS_PARTS=m
CONFIG_MTD_OF_PARTS=m
CONFIG_MTD_BCM47XX_PARTS=m
CONFIG_MTD_PARSER_TRX=m
CONFIG_MTD_SHARPSL_PARTS=m
CONFIG_MTD_PHYSMAP_OF=m
CONFIG_MTD_PHYSMAP_OF_VERSATILE=y
CONFIG_MTD_PHYSMAP_OF_GEMINI=y
CONFIG_MTD_IMPA7=m
CONFIG_MTD_SPEAR_SMI=m
CONFIG_MTD_BCM47XXSFLASH=m
CONFIG_MTD_ST_SPI_FSM=m
CONFIG_MTD_ONENAND_OMAP2=m
CONFIG_MTD_ONENAND_SAMSUNG=m
CONFIG_MTD_NAND_DENALI_DT=m
CONFIG_MTD_NAND_OMAP2=m
CONFIG_MTD_NAND_OMAP_BCH_BUILD=m
CONFIG_MTD_NAND_TANGO=m
CONFIG_MTD_NAND_ATMEL=m
CONFIG_MTD_NAND_MARVELL=m
CONFIG_MTD_NAND_TMIO=m
CONFIG_MTD_NAND_GPMI_NAND=m
CONFIG_MTD_NAND_BRCMNAND=m
CONFIG_MTD_NAND_ORION=m
CONFIG_MTD_NAND_FSL_IFC=m
CONFIG_MTD_NAND_VF610_NFC=m
CONFIG_MTD_NAND_MXC=m
CONFIG_MTD_NAND_DAVINCI=m
CONFIG_MTD_NAND_FSMC=m
CONFIG_MTD_NAND_SUNXI=m
CONFIG_MTD_NAND_QCOM=m
CONFIG_MTD_LPDDR2_NVM=m
CONFIG_PARIDE_BPCK6=m
CONFIG_SENSORS_LIS3_SPI=m
CONFIG_BLK_DEV_PLATFORM=m
CONFIG_BLK_DEV_SL82C105=m
CONFIG_SCSI_UFS_QCOM=m
# CONFIG_SCSI_UFS_HISI is not set
CONFIG_SCSI_NSP32=m
CONFIG_PCMCIA_NINJA_SCSI=m
CONFIG_AHCI_DM816=m
CONFIG_AHCI_ST=m
CONFIG_AHCI_IMX=m
CONFIG_AHCI_CEVA=y
CONFIG_AHCI_MTK=m
CONFIG_AHCI_MVEBU=y
CONFIG_AHCI_QORIQ=y
CONFIG_SATA_HIGHBANK=m
CONFIG_SATA_RCAR=m
CONFIG_PATA_ARASAN_CF=m
CONFIG_PATA_IMX=m
CONFIG_NETPOLL=y
CONFIG_NET_POLL_CONTROLLER=y
# CONFIG_VSOCKMON is not set
CONFIG_SUN4I_EMAC=m
CONFIG_ARC_EMAC_CORE=m
CONFIG_EMAC_ROCKCHIP=m
CONFIG_TIGON3_HWMON=y
CONFIG_BGMAC=m
CONFIG_BGMAC_BCMA=m
CONFIG_BGMAC_PLATFORM=m
CONFIG_NET_CALXEDA_XGMAC=m
CONFIG_CS89x0=m
CONFIG_CS89x0_PLATFORM=y
CONFIG_GEMINI_ETHERNET=m
CONFIG_DM9000=m
# CONFIG_DM9000_FORCE_SIMPLE_PHY_POLL is not set
CONFIG_EZCHIP_NPS_MANAGEMENT_ENET=m
CONFIG_FTMAC100=m
CONFIG_FTGMAC100=m
CONFIG_FEC=m
CONFIG_FSL_PQ_MDIO=m
CONFIG_FSL_XGMAC_MDIO=m
CONFIG_GIANFAR=m
CONFIG_NET_VENDOR_FUJITSU=y
CONFIG_HIX5HD2_GMAC=m
CONFIG_HISI_FEMAC=m
CONFIG_HIP04_ETH=m
CONFIG_HNS_MDIO=m
CONFIG_HNS=m
CONFIG_HNS_DSAF=m
CONFIG_HNS_ENET=m
CONFIG_HNS3=m
CONFIG_HNS3_HCLGE=m
CONFIG_HNS3_DCB=y
CONFIG_HNS3_HCLGEVF=m
CONFIG_MV643XX_ETH=m
CONFIG_MVNETA_BM_ENABLE=m
CONFIG_MVNETA=m
CONFIG_MVNETA_BM=m
CONFIG_MVPP2=m
# CONFIG_SKY2_DEBUG is not set
CONFIG_NET_VENDOR_MEDIATEK=y
CONFIG_NET_MEDIATEK_SOC=m
CONFIG_NI_XGE_MANAGEMENT_ENET=m
CONFIG_AX88796=m
CONFIG_AX88796_93CX6=y
CONFIG_QCA7000=m
CONFIG_QCA7000_SPI=m
CONFIG_QCA7000_UART=m
# CONFIG_8139TOO_TUNE_TWISTER is not set
# CONFIG_8139_OLD_RX_RESET is not set
CONFIG_SH_ETH=m
CONFIG_RAVB=m
CONFIG_SMC91X=m
CONFIG_SMC911X=m
CONFIG_SNI_AVE=m
CONFIG_DWMAC_DWC_QOS_ETH=m
CONFIG_DWMAC_IPQ806X=m
CONFIG_DWMAC_MESON=m
CONFIG_DWMAC_ROCKCHIP=m
CONFIG_DWMAC_SOCFPGA=m
CONFIG_DWMAC_STI=m
CONFIG_DWMAC_STM32=m
CONFIG_DWMAC_SUNXI=m
CONFIG_DWMAC_SUN8I=m
CONFIG_TI_DAVINCI_EMAC=m
CONFIG_TI_DAVINCI_MDIO=m
CONFIG_TI_DAVINCI_CPDMA=m
CONFIG_TI_CPSW_ALE=m
CONFIG_TI_CPSW=m
CONFIG_TI_CPTS=y
CONFIG_TI_CPTS_MOD=m
CONFIG_XILINX_EMACLITE=m
CONFIG_NET_VENDOR_XIRCOM=y
CONFIG_MDIO_BCM_IPROC=m
CONFIG_MDIO_BUS_MUX=m
CONFIG_MDIO_BUS_MUX_BCM_IPROC=m
CONFIG_MDIO_BUS_MUX_GPIO=m
CONFIG_MDIO_BUS_MUX_MMIOREG=m
CONFIG_MDIO_HISI_FEMAC=m
CONFIG_MDIO_I2C=m
CONFIG_MDIO_SUN4I=m
CONFIG_SFP=m
CONFIG_BCM_CYGNUS_PHY=m
CONFIG_ATH10K_AHB=y
# CONFIG_ATH10K_SNOC is not set
CONFIG_WLCORE_SPI=m
CONFIG_SLIC_DS26522=m
CONFIG_INPUT_APMPOWER=m
CONFIG_KEYBOARD_SNVS_PWRKEY=m
CONFIG_KEYBOARD_IMX=m
CONFIG_KEYBOARD_NOMADIK=m
CONFIG_KEYBOARD_TEGRA=m
CONFIG_KEYBOARD_PXA27x=m
CONFIG_KEYBOARD_PMIC8XXX=m
CONFIG_KEYBOARD_ST_KEYSCAN=m
CONFIG_KEYBOARD_SH_KEYSC=m
CONFIG_KEYBOARD_STMPE=m
CONFIG_KEYBOARD_SUN4I_LRADC=m
CONFIG_KEYBOARD_OMAP4=m
CONFIG_KEYBOARD_SPEAR=m
CONFIG_KEYBOARD_TC3589X=m
CONFIG_KEYBOARD_CAP11XX=m
CONFIG_KEYBOARD_BCM=m
CONFIG_TOUCHSCREEN_AR1021_I2C=m
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=m
CONFIG_TOUCHSCREEN_EGALAX=m
CONFIG_TOUCHSCREEN_IPROC=m
CONFIG_TOUCHSCREEN_IMX6UL_TSC=m
CONFIG_TOUCHSCREEN_TS4800=m
CONFIG_TOUCHSCREEN_STMPE=m
CONFIG_TOUCHSCREEN_SUN4I=m
CONFIG_TOUCHSCREEN_COLIBRI_VF50=m
CONFIG_INPUT_AB8500_PONKEY=m
CONFIG_INPUT_ATMEL_CAPTOUCH=m
CONFIG_INPUT_PM8941_PWRKEY=m
CONFIG_INPUT_PM8XXX_VIBRATOR=m
CONFIG_INPUT_PMIC8XXX_PWRKEY=m
CONFIG_INPUT_RK805_PWRKEY=m
CONFIG_INPUT_SIRFSOC_ONKEY=m
CONFIG_INPUT_HISI_POWERKEY=m
CONFIG_SERIO_AMBAKMI=m
CONFIG_SERIO_APBPS2=m
CONFIG_SERIO_SUN4I_PS2=m
CONFIG_SERIAL_8250_ASPEED_VUART=m
# CONFIG_SERIAL_8250_PXA is not set
# CONFIG_SERIAL_PXA is not set
CONFIG_SERIAL_STM32=m
CONFIG_SERIAL_OWL=y
CONFIG_SERIAL_OWL_CONSOLE=y
CONFIG_HVC_DCC=y
# CONFIG_NPCM7XX_KCS_IPMI_BMC is not set
CONFIG_HW_RANDOM_ATMEL=m
CONFIG_HW_RANDOM_BCM2835=m
CONFIG_HW_RANDOM_IPROC_RNG200=m
CONFIG_HW_RANDOM_OMAP=m
CONFIG_HW_RANDOM_OMAP3_ROM=m
CONFIG_HW_RANDOM_IMX_RNGC=m
CONFIG_HW_RANDOM_HISI=m
CONFIG_HW_RANDOM_ST=m
CONFIG_HW_RANDOM_STM32=m
CONFIG_HW_RANDOM_MESON=m
CONFIG_HW_RANDOM_MTK=m
CONFIG_HW_RANDOM_EXYNOS=m
CONFIG_HW_RANDOM_KEYSTONE=m
# PCMCIA character devices
CONFIG_XILLYBUS_OF=m
CONFIG_I2C_MUX_GPMUX=m
CONFIG_I2C_MUX_PINCTRL=m
CONFIG_I2C_DEMUX_PINCTRL=m
CONFIG_I2C_HIX5HD2=m
CONFIG_I2C_ALTERA=m
CONFIG_I2C_AXXIA=m
CONFIG_I2C_BCM2835=m
CONFIG_I2C_BCM_IPROC=m
CONFIG_I2C_BCM_KONA=m
CONFIG_I2C_BRCMSTB=m
CONFIG_I2C_CADENCE=m
CONFIG_I2C_DAVINCI=m
CONFIG_I2C_EXYNOS5=m
CONFIG_I2C_IMX=m
CONFIG_I2C_IMX_LPI2C=m
CONFIG_I2C_MESON=m
CONFIG_I2C_MT65XX=m
CONFIG_I2C_MV64XXX=m
# CONFIG_I2C_OWL is not set
CONFIG_I2C_PXA=m
CONFIG_I2C_PXA_SLAVE=y
CONFIG_I2C_QUP=m
CONFIG_I2C_RIIC=m
CONFIG_I2C_RK3X=m
CONFIG_I2C_S3C2410=m
CONFIG_I2C_SH_MOBILE=m
CONFIG_I2C_SIRF=m
CONFIG_I2C_ST=m
CONFIG_I2C_STM32F4=m
CONFIG_I2C_STM32F7=m
CONFIG_I2C_SUN6I_P2WI=m
CONFIG_I2C_TEGRA=m
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_I2C_UNIPHIER=m
CONFIG_I2C_UNIPHIER_F=m
CONFIG_I2C_VERSATILE=m
CONFIG_I2C_WMT=m
CONFIG_I2C_XLR=m
CONFIG_I2C_RCAR=m
CONFIG_I2C_ZX2967=m
CONFIG_SPI_ARMADA_3700=m
CONFIG_SPI_BCM2835=m
CONFIG_SPI_BCM2835AUX=m
CONFIG_SPI_BCM_QSPI=m
CONFIG_SPI_DAVINCI=m
CONFIG_SPI_FSL_LPSPI=m
CONFIG_SPI_IMX=m
CONFIG_SPI_FSL_LIB=m
CONFIG_SPI_FSL_SPI=m
CONFIG_SPI_MESON_SPICC=m
CONFIG_SPI_MESON_SPIFC=m
CONFIG_SPI_MT65XX=m
CONFIG_SPI_OMAP24XX=m
CONFIG_SPI_TI_QSPI=m
CONFIG_SPI_ORION=m
CONFIG_SPI_PL022=m
CONFIG_SPI_RSPI=m
CONFIG_SPI_QUP=m
CONFIG_SPI_SH_HSPI=m
CONFIG_SPI_SIRF=m
CONFIG_SPI_STM32=m
CONFIG_SPI_ST_SSC4=m
CONFIG_SPI_SUN4I=m
CONFIG_SPI_SUN6I=m
CONFIG_SPI_TEGRA114=m
CONFIG_SPI_TEGRA20_SFLASH=m
CONFIG_SPI_TEGRA20_SLINK=m
CONFIG_SPMI_MSM_PMIC_ARB=m
CONFIG_OMAP_SSI=m
CONFIG_NOKIA_MODEM=m
CONFIG_CMT_SPEECH=m
CONFIG_SSI_PROTOCOL=m
CONFIG_PTP_1588_CLOCK_DTE=m
CONFIG_PTP_1588_CLOCK_QORIQ=m
CONFIG_PINCTRL_AS3722=m
CONFIG_PINCTRL_AXP209=m
CONFIG_PINCTRL_RZA1=y
CONFIG_PINCTRL_MAX77620=m
CONFIG_PINCTRL_PALMAS=m
CONFIG_PINCTRL_RK805=m
# CONFIG_PINCTRL_OWL is not set
CONFIG_PINCTRL_NS2_MUX=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_PINCTRL_IMX6SLL=y
CONFIG_PINCTRL_APQ8084=m
CONFIG_PINCTRL_IPQ4019=m
CONFIG_PINCTRL_IPQ8064=m
CONFIG_PINCTRL_IPQ8074=m
CONFIG_PINCTRL_MSM8660=m
CONFIG_PINCTRL_MSM8960=m
CONFIG_PINCTRL_MDM9615=m
CONFIG_PINCTRL_MSM8X74=m
CONFIG_PINCTRL_MSM8916=m
CONFIG_PINCTRL_MSM8994=m
CONFIG_PINCTRL_MSM8996=m
CONFIG_PINCTRL_MSM8998=m
CONFIG_PINCTRL_QCOM_SPMI_PMIC=m
CONFIG_PINCTRL_QCOM_SSBI_PMIC=m
CONFIG_PINCTRL_SDM845=m
CONFIG_PINCTRL_UNIPHIER_LD11=y
CONFIG_PINCTRL_UNIPHIER_LD20=y
CONFIG_PINCTRL_UNIPHIER_PXS3=y
CONFIG_PINCTRL_WMT=y
CONFIG_PINCTRL_WM8850=y
CONFIG_PINCTRL_ZX=y
CONFIG_PINCTRL_ZX296718=y
CONFIG_GPIO_74XX_MMIO=m
CONFIG_GPIO_ALTERA=m
CONFIG_GPIO_RASPBERRYPI_EXP=m
CONFIG_GPIO_BRCMSTB=m
CONFIG_GPIO_EM=m
CONFIG_GPIO_GRGPIO=m
CONFIG_GPIO_HLWD=m
CONFIG_GPIO_MPC8XXX=y
CONFIG_GPIO_OMAP=m
CONFIG_GPIO_PXA=y
CONFIG_GPIO_SYSCON=m
CONFIG_GPIO_TS4800=m
CONFIG_GPIO_UNIPHIER=m
CONFIG_GPIO_XILINX=m
CONFIG_GPIO_ZEVIO=y
CONFIG_GPIO_ZYNQ=m
CONFIG_GPIO_ZX=y
CONFIG_GPIO_ADNP=m
CONFIG_GPIO_TS4900=m
CONFIG_GPIO_ALTERA_A10SR=m
CONFIG_HTC_EGPIO=y
CONFIG_GPIO_LP87565=m
CONFIG_GPIO_MAX77620=m
CONFIG_GPIO_STMPE=y
CONFIG_GPIO_TC3589X=y
CONFIG_GPIO_74X164=m
CONFIG_W1_MASTER_MXC=m
CONFIG_HDQ_MASTER_OMAP=m
CONFIG_ROCKCHIP_IODOMAIN=m
CONFIG_POWER_RESET_AT91_POWEROFF=m
CONFIG_POWER_RESET_AT91_RESET=m
CONFIG_POWER_RESET_AT91_SAMA5D2_SHDWC=m
CONFIG_POWER_RESET_AXXIA=y
CONFIG_POWER_RESET_MSM=y
CONFIG_POWER_RESET_LTC2952=y
CONFIG_POWER_RESET_QNAP=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_POWER_RESET_VERSATILE=y
CONFIG_POWER_RESET_RMOBILE=m
CONFIG_POWER_RESET_ZX=m
CONFIG_REBOOT_MODE=m
CONFIG_SYSCON_REBOOT_MODE=m
CONFIG_APM_POWER=m
CONFIG_BATTERY_ACT8945A=m
CONFIG_CHARGER_QCOM_SMBB=m
CONFIG_AB8500_BM=y
CONFIG_SENSORS_AB8500=m
CONFIG_SENSORS_ARM_SCMI=m
# CONFIG_SENSORS_RASPBERRYPI_HWMON is not set
CONFIG_SENSORS_VEXPRESS=m
CONFIG_HISI_THERMAL=m
CONFIG_IMX_THERMAL=m
CONFIG_MAX77620_THERMAL=m
CONFIG_QORIQ_THERMAL=m
CONFIG_SPEAR_THERMAL=m
CONFIG_ROCKCHIP_THERMAL=m
CONFIG_RCAR_THERMAL=m
CONFIG_DOVE_THERMAL=m
CONFIG_DB8500_THERMAL=m
CONFIG_ARMADA_THERMAL=m
CONFIG_MTK_THERMAL=m
CONFIG_BCM_NS_THERMAL=m
CONFIG_TI_SOC_THERMAL=m
CONFIG_TI_THERMAL=y
CONFIG_OMAP3_THERMAL=y
CONFIG_OMAP4_THERMAL=y
CONFIG_OMAP5_THERMAL=y
CONFIG_DRA752_THERMAL=y
CONFIG_ST_THERMAL=m
CONFIG_ST_THERMAL_SYSCFG=m
CONFIG_ST_THERMAL_MEMMAP=m
CONFIG_TANGO_THERMAL=m
CONFIG_TEGRA_SOCTHERM=m
CONFIG_TEGRA_BPMP_THERMAL=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m
CONFIG_QCOM_TSENS=m
# CONFIG_ZX2967_THERMAL is not set
CONFIG_UNIPHIER_THERMAL=m
CONFIG_GPIO_WATCHDOG=m
CONFIG_TANGOX_WATCHDOG=m
CONFIG_ARM_SP805_WATCHDOG=m
CONFIG_AT91SAM9X_WATCHDOG=m
CONFIG_SAMA5D4_WATCHDOG=m
CONFIG_FTWDT010_WATCHDOG=m
CONFIG_S3C2410_WATCHDOG=m
CONFIG_OMAP_WATCHDOG=m
CONFIG_ORION_WATCHDOG=m
CONFIG_RN5T618_WATCHDOG=m
CONFIG_SUNXI_WATCHDOG=m
CONFIG_NPCM7XX_WATCHDOG=y
CONFIG_TS4800_WATCHDOG=m
CONFIG_MAX77620_WATCHDOG=m
CONFIG_IMX2_WDT=m
CONFIG_UX500_WATCHDOG=m
CONFIG_SIRFSOC_WATCHDOG=m
CONFIG_ST_LPC_WATCHDOG=m
CONFIG_QCOM_WDT=m
CONFIG_MESON_GXBB_WATCHDOG=m
CONFIG_MESON_WATCHDOG=m
CONFIG_MEDIATEK_WATCHDOG=m
CONFIG_DIGICOLOR_WATCHDOG=m
CONFIG_ATLAS7_WATCHDOG=m
CONFIG_RENESAS_RZAWDT=m
# CONFIG_ZX2967_WATCHDOG is not set
CONFIG_UNIPHIER_WATCHDOG=m
CONFIG_BCM47XX_WDT=m
CONFIG_BCM2835_WDT=m
CONFIG_BCM_KONA_WDT=m
CONFIG_SSB_HOST_SOC=y
CONFIG_MFD_ALTERA_A10SR=y
CONFIG_MFD_ACT8945A=m
CONFIG_MFD_SUN4I_GPADC=m
CONFIG_MFD_AS3722=m
CONFIG_MFD_ATMEL_FLEXCOM=m
CONFIG_MFD_AC100=m
CONFIG_MFD_AXP20X_RSB=m
CONFIG_MFD_ASIC3=y
CONFIG_MFD_EXYNOS_LPASS=m
CONFIG_MFD_HI6421_PMIC=m
CONFIG_MFD_HI655X_PMIC=m
CONFIG_MFD_MAX77620=y
CONFIG_MFD_MAX77686=m
CONFIG_MFD_PM8XXX=m
CONFIG_MFD_QCOM_RPM=m
CONFIG_MFD_SPMI_PMIC=m
CONFIG_MFD_RK808=m
CONFIG_MFD_RN5T618=m
CONFIG_AB3100_CORE=y
CONFIG_AB3100_OTP=m
# CONFIG_AB8500_DEBUG is not set
CONFIG_STMPE_SPI=y
CONFIG_MFD_TI_LP87565=m
CONFIG_MFD_TC3589X=y
CONFIG_MFD_TMIO=y
CONFIG_MFD_T7L66XB=y
CONFIG_MFD_TC6387XB=y
CONFIG_MFD_TC6393XB=y
CONFIG_MFD_STM32_LPTIMER=m
CONFIG_MFD_STM32_TIMERS=m
CONFIG_REGULATOR_ACT8945A=m
CONFIG_REGULATOR_AB3100=m
CONFIG_REGULATOR_AS3722=m
CONFIG_REGULATOR_HI6421=m
CONFIG_REGULATOR_HI6421V530=m
CONFIG_REGULATOR_HI655X=m
CONFIG_REGULATOR_LP873X=m
CONFIG_REGULATOR_LP87565=m
CONFIG_REGULATOR_MAX77620=m
CONFIG_REGULATOR_MAX8973=m
CONFIG_REGULATOR_MAX77686=m
CONFIG_REGULATOR_MT6380=m
CONFIG_REGULATOR_PBIAS=m
CONFIG_REGULATOR_QCOM_RPM=m
CONFIG_REGULATOR_RK808=m
CONFIG_REGULATOR_RN5T618=m
CONFIG_REGULATOR_STM32_VREFBUF=m
CONFIG_REGULATOR_TI_ABB=m
CONFIG_REGULATOR_TPS65218=m
CONFIG_REGULATOR_VEXPRESS=m
CONFIG_CEC_PIN=y
# CONFIG_IR_HIX5HD2 is not set
CONFIG_IR_MESON=m
CONFIG_IR_MTK=m
# CONFIG_IR_SPI is not set
CONFIG_IR_RX51=m
# CONFIG_IR_GPIO_CIR is not set
# CONFIG_IR_GPIO_TX is not set
# CONFIG_IR_PWM_TX is not set
CONFIG_RC_ST=m
CONFIG_IR_SUNXI=m
CONFIG_IR_TANGO=m
CONFIG_IR_ZX=m
CONFIG_CEC_PIN_ERROR_INJ=y
# CONFIG_VIDEO_MMP_CAMERA is not set
CONFIG_VIDEO_SH_VOU=m
CONFIG_VIDEO_RENESAS_CEU=m
CONFIG_VIDEO_CODA=m
CONFIG_VIDEO_IMX_VDOA=m
CONFIG_VIDEO_MEDIATEK_JPEG=m
CONFIG_VIDEO_MEDIATEK_VPU=m
CONFIG_VIDEO_MEDIATEK_MDP=m
CONFIG_VIDEO_MEDIATEK_VCODEC=m
CONFIG_VIDEO_SAMSUNG_S5P_G2D=m
CONFIG_VIDEO_RENESAS_FDP1=m
CONFIG_VIDEO_RENESAS_FCP=m
CONFIG_VIDEO_ROCKCHIP_RGA=m
CONFIG_VIDEO_TI_VPE=m
# CONFIG_VIDEO_TI_VPE_DEBUG is not set
CONFIG_VIDEO_QCOM_VENUS=m
CONFIG_VIDEO_TI_VPDMA=m
CONFIG_VIDEO_TI_SC=m
CONFIG_VIDEO_TI_CSC=m
# CONFIG_DVB_C8SECTPFE is not set
CONFIG_VIDEO_MESON_AO_CEC=m
CONFIG_VIDEO_STI_HDMI_CEC=m
CONFIG_VIDEO_STM32_HDMI_CEC=m
CONFIG_VIDEO_TEGRA_HDMI_CEC=m
CONFIG_VIDEO_RCAR_DRIF=m
CONFIG_TEGRA_HOST1X=m
CONFIG_IMX_IPUV3_CORE=m
CONFIG_DRM_ARM=y
CONFIG_DRM_HDLCD=m
# CONFIG_DRM_HDLCD_SHOW_UNDERRUN is not set
CONFIG_DRM_MALI_DISPLAY=m
CONFIG_DRM_EXYNOS_IOMMU=y
CONFIG_DRM_EXYNOS5433_DECON=y
CONFIG_DRM_EXYNOS7_DECON=y
CONFIG_DRM_EXYNOS_VIDI=y
CONFIG_DRM_EXYNOS_MIC=y
CONFIG_DRM_EXYNOS_IPP=y
CONFIG_DRM_EXYNOS_FIMC=y
CONFIG_DRM_EXYNOS_ROTATOR=y
CONFIG_ROCKCHIP_CDN_DP=y
CONFIG_ROCKCHIP_LVDS=y
CONFIG_DRM_ARMADA=m
CONFIG_DRM_RCAR_DW_HDMI=m
CONFIG_DRM_RCAR_LVDS=m
CONFIG_DRM_SHMOBILE=m
CONFIG_DRM_SUN4I_HDMI_CEC=y
CONFIG_DRM_SUN8I_DW_HDMI=m
CONFIG_DRM_OMAP=m
CONFIG_OMAP2_DSS_INIT=y
CONFIG_OMAP_DSS_BASE=m
CONFIG_OMAP2_DSS=m
# CONFIG_OMAP2_DSS_DEBUG is not set
CONFIG_OMAP2_DSS_DEBUGFS=y
# CONFIG_OMAP2_DSS_COLLECT_IRQ_STATS is not set
CONFIG_OMAP2_DSS_DPI=y
CONFIG_OMAP2_DSS_VENC=y
CONFIG_OMAP2_DSS_HDMI_COMMON=y
CONFIG_OMAP4_DSS_HDMI=y
CONFIG_OMAP4_DSS_HDMI_CEC=y
CONFIG_OMAP5_DSS_HDMI=y
CONFIG_OMAP2_DSS_SDI=y
CONFIG_OMAP2_DSS_DSI=y
CONFIG_OMAP2_DSS_MIN_FCK_PER_PCK=0
CONFIG_OMAP2_DSS_SLEEP_AFTER_VENC_RESET=y
# OMAPDRM External Display Device Drivers
CONFIG_DRM_OMAP_ENCODER_OPA362=m
CONFIG_DRM_OMAP_ENCODER_TFP410=m
CONFIG_DRM_OMAP_ENCODER_TPD12S015=m
CONFIG_DRM_OMAP_CONNECTOR_DVI=m
CONFIG_DRM_OMAP_CONNECTOR_HDMI=m
CONFIG_DRM_OMAP_CONNECTOR_ANALOG_TV=m
CONFIG_DRM_OMAP_PANEL_DPI=m
CONFIG_DRM_OMAP_PANEL_DSI_CM=m
CONFIG_DRM_OMAP_PANEL_SONY_ACX565AKM=m
CONFIG_DRM_OMAP_PANEL_LGPHILIPS_LB035Q02=m
CONFIG_DRM_OMAP_PANEL_SHARP_LS037V7DW01=m
CONFIG_DRM_OMAP_PANEL_TPO_TD028TTEC1=m
CONFIG_DRM_OMAP_PANEL_TPO_TD043MTEA1=m
CONFIG_DRM_OMAP_PANEL_NEC_NL8048HL11=m
CONFIG_DRM_TILCDC=m
CONFIG_DRM_MSM=m
CONFIG_DRM_MSM_GPU_SUDO=y
CONFIG_DRM_TEGRA=m
CONFIG_DRM_TEGRA_STAGING=y
CONFIG_DRM_STM=m
CONFIG_DRM_STM_DSI=m
CONFIG_DRM_PANEL_ARM_VERSATILE=m
CONFIG_DRM_PANEL_SIMPLE=m
CONFIG_DRM_PANEL_ILITEK_IL9322=m
CONFIG_DRM_PANEL_INNOLUX_P079ZCA=m
CONFIG_DRM_PANEL_JDI_LT070ME05000=m
CONFIG_DRM_PANEL_LG_LG4573=m
CONFIG_DRM_PANEL_ORISETECH_OTM8009A=m
CONFIG_DRM_PANEL_PANASONIC_VVX10F034N00=m
CONFIG_DRM_PANEL_RAYDIUM_RM68200=m
CONFIG_DRM_PANEL_SEIKO_43WVF1G=m
CONFIG_DRM_PANEL_SHARP_LQ101R1SX01=m
CONFIG_DRM_PANEL_SHARP_LS043T1LE01=m
CONFIG_DRM_SIL_SII8620=m
CONFIG_DRM_SII902X=m
CONFIG_DRM_TOSHIBA_TC358767=m
CONFIG_DRM_TI_TFP410=m
CONFIG_DRM_DW_HDMI_AHB_AUDIO=m
CONFIG_DRM_DW_HDMI_I2S_AUDIO=m
CONFIG_DRM_DW_HDMI_CEC=m
CONFIG_DRM_DW_MIPI_DSI=m
CONFIG_DRM_IMX=m
CONFIG_DRM_IMX_PARALLEL_DISPLAY=m
CONFIG_DRM_IMX_TVE=m
CONFIG_DRM_IMX_LDB=m
CONFIG_DRM_IMX_HDMI=m
CONFIG_DRM_VC4_HDMI_CEC=y
CONFIG_DRM_ARCPGU=m
CONFIG_DRM_MEDIATEK=m
CONFIG_DRM_MEDIATEK_HDMI=m
CONFIG_DRM_ZTE=m
CONFIG_DRM_MESON=m
CONFIG_DRM_MESON_DW_HDMI=m
CONFIG_DRM_PL111=m
CONFIG_DRM_TVE200=m
CONFIG_DRM_LIMA=m
CONFIG_FB_CFB_REV_PIXELS_IN_BYTE=y
CONFIG_FB_SYS_FILLRECT=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_FB_PROVIDE_GET_FB_UNMAPPED_AREA=y
CONFIG_FB_SYS_FOPS=m
CONFIG_FB_TILEBLITTING=y
CONFIG_FB_ARMCLCD=m
CONFIG_FB_IMX=m
CONFIG_FB_ATMEL=m
CONFIG_FB_VT8500=y
CONFIG_FB_WMT_GE_ROPS=y
CONFIG_FB_SH_MOBILE_LCDC=m
CONFIG_FB_TMIO=m
CONFIG_FB_TMIO_ACCELL=y
CONFIG_FB_XILINX=m
CONFIG_FB_DA8XX=m
CONFIG_FB_MX3=m
CONFIG_FB_MXS=m
CONFIG_MMP_DISP=m
CONFIG_MMP_DISP_CONTROLLER=y
CONFIG_MMP_DISP_SPI=y
CONFIG_MMP_PANEL_TPOHVGA=y
CONFIG_MMP_FB=m
CONFIG_FB_SSD1307=m
CONFIG_BACKLIGHT_ATMEL_LCDC=y
CONFIG_SND_SEQ_HRTIMER_DEFAULT=y
CONFIG_SND_ARMAACI=m
CONFIG_SND_ATMEL_AC97C=m
CONFIG_SND_AT73C213=m
CONFIG_SND_AT73C213_TARGET_BITRATE=48000
CONFIG_SND_PCMCIA=y
CONFIG_SND_SOC_ADI=m
CONFIG_SND_SOC_ADI_AXI_I2S=m
CONFIG_SND_SOC_ADI_AXI_SPDIF=m
CONFIG_SND_ATMEL_SOC_PDC=m
CONFIG_SND_ATMEL_SOC_SSC_PDC=m
CONFIG_SND_AT91_SOC_SAM9G20_WM8731=m
CONFIG_SND_AT91_SOC_SAM9X5_WM8731=m
CONFIG_SND_ATMEL_SOC_CLASSD=m
CONFIG_SND_ATMEL_SOC_TSE850_PCM5142=m
CONFIG_SND_SOC_CYGNUS=m
CONFIG_SND_EDMA_SOC=m
CONFIG_SND_DAVINCI_SOC_I2S=m
CONFIG_SND_DAVINCI_SOC_MCASP=m
CONFIG_SND_DAVINCI_SOC_GENERIC_EVM=m
CONFIG_SND_AM33XX_SOC_EVM=m
CONFIG_SND_SOC_FSL_UTILS=m
CONFIG_SND_SOC_IMX_PCM_DMA=m
CONFIG_SND_IMX_SOC=m
CONFIG_SND_SOC_IMX_SSI=m
CONFIG_SND_SOC_IMX_PCM_FIQ=m
# SoC Audio support for Freescale i.MX boards:
CONFIG_SND_SOC_EUKREA_TLV320=m
CONFIG_SND_SOC_IMX_ES8328=m
CONFIG_SND_SOC_IMX_SGTL5000=m
CONFIG_SND_SOC_IMX_SPDIF=m
CONFIG_SND_SOC_IMX_MC13783=m
CONFIG_SND_SOC_FSL_ASOC_CARD=m
CONFIG_SND_OMAP_SOC=m
CONFIG_SND_SDMA_SOC=m
CONFIG_SND_OMAP_SOC_DMIC=m
CONFIG_SND_OMAP_SOC_MCBSP=m
CONFIG_SND_OMAP_SOC_MCPDM=m
CONFIG_SND_OMAP_SOC_HDMI_AUDIO=m
CONFIG_SND_OMAP_SOC_RX51=m
CONFIG_SND_OMAP_SOC_AM3517EVM=m
CONFIG_SND_OMAP_SOC_OMAP_TWL4030=m
CONFIG_SND_OMAP_SOC_OMAP_ABE_TWL6040=m
CONFIG_SND_OMAP_SOC_OMAP3_PANDORA=m
CONFIG_SND_KIRKWOOD_SOC=m
CONFIG_SND_KIRKWOOD_SOC_ARMADA370_DB=m
CONFIG_SND_SOC_MEDIATEK=m
CONFIG_SND_SOC_MT2701=m
CONFIG_SND_SOC_MT2701_CS42448=m
# CONFIG_SND_SOC_MT2701_WM8960 is not set
CONFIG_SND_SOC_MT8173=m
CONFIG_SND_SOC_MT8173_MAX98090=m
CONFIG_SND_SOC_MT8173_RT5650=m
CONFIG_SND_SOC_MT8173_RT5650_RT5514=m
CONFIG_SND_SOC_MT8173_RT5650_RT5676=m
CONFIG_SND_MMP_SOC=y
# CONFIG_SND_PXA_SOC_SSP is not set
CONFIG_SND_MMP_SOC_SSPA=m
CONFIG_SND_PXA910_SOC=m
CONFIG_SND_MMP_SOC_BROWNSTONE=m
CONFIG_SND_SOC_QCOM=m
CONFIG_SND_SOC_LPASS_CPU=m
CONFIG_SND_SOC_LPASS_PLATFORM=m
CONFIG_SND_SOC_LPASS_IPQ806X=m
CONFIG_SND_SOC_LPASS_APQ8016=m
CONFIG_SND_SOC_STORM=m
CONFIG_SND_SOC_APQ8016_SBC=m
CONFIG_SND_SOC_ROCKCHIP_PDM=m
CONFIG_SND_SOC_RK3399_GRU_SOUND=m
CONFIG_SND_SAMSUNG_SPDIF=m
CONFIG_SND_SOC_SAMSUNG_SMDK_SPDIF=m
CONFIG_SND_SOC_ARNDALE_RT5631_ALC5631=m
CONFIG_SND_SOC_SAMSUNG_TM2_WM5110=m
CONFIG_SND_SOC_SIRF=m
CONFIG_SND_SOC_SIRF_AUDIO=m
CONFIG_SND_SOC_SIRF_AUDIO_PORT=m
CONFIG_SND_SOC_SIRF_USP=m
CONFIG_SND_SOC_STM32_SAI=m
CONFIG_SND_SOC_STM32_I2S=m
CONFIG_SND_SOC_STM32_SPDIFRX=m
CONFIG_SND_SOC_STM32_DFSDM=m
CONFIG_SND_SUN8I_CODEC_ANALOG=m
CONFIG_SND_SUN4I_I2S=m
CONFIG_SND_SUN4I_SPDIF=m
CONFIG_SND_SOC_TEGRA_RT5677=m
CONFIG_SND_SOC_TEGRA_SGTL5000=m
CONFIG_SND_SOC_UNIPHIER=m
CONFIG_SND_SOC_UNIPHIER_AIO=m
CONFIG_SND_SOC_UNIPHIER_LD11=m
CONFIG_SND_SOC_UNIPHIER_PXS2=m
CONFIG_SND_SOC_UNIPHIER_EVEA_CODEC=m
CONFIG_SND_SOC_UX500=m
CONFIG_SND_SOC_UX500_PLAT_MSP_I2S=m
CONFIG_SND_SOC_UX500_PLAT_DMA=m
CONFIG_SND_SOC_UX500_MACH_MOP500=m
CONFIG_ZX_SPDIF=m
CONFIG_ZX_I2S=m
CONFIG_SND_SOC_ARIZONA=m
CONFIG_SND_SOC_WM_ADSP=m
CONFIG_SND_SOC_AB8500_CODEC=m
CONFIG_SND_SOC_DMIC=m
CONFIG_SND_SOC_RT5514=m
CONFIG_SND_SOC_RT5514_SPI=m
CONFIG_SND_SOC_TWL4030=m
CONFIG_SND_SOC_TWL6040=m
CONFIG_SND_SOC_WM5110=m
CONFIG_SND_SOC_MC13783=m
CONFIG_SND_AUDIO_GRAPH_CARD=m
CONFIG_SND_AUDIO_GRAPH_SCU_CARD=m
# CONFIG_LOGITECH_FF is not set
# CONFIG_LOGIWHEELS_FF is not set
# CONFIG_PANTHERLORD_FF is not set
CONFIG_USB_XHCI_MTK=m
CONFIG_USB_XHCI_MVEBU=m
CONFIG_USB_XHCI_RCAR=m
CONFIG_USB_EHCI_MXC=m
CONFIG_USB_EHCI_HCD_NPCM7XX=m
CONFIG_USB_EHCI_HCD_ORION=m
CONFIG_USB_EHCI_HCD_SPEAR=m
CONFIG_USB_EHCI_HCD_STI=m
CONFIG_USB_EHCI_HCD_AT91=m
CONFIG_USB_EHCI_TEGRA=m
CONFIG_USB_EHCI_EXYNOS=m
CONFIG_USB_EHCI_MV=y
CONFIG_USB_OHCI_HCD_SPEAR=m
CONFIG_USB_OHCI_HCD_STI=m
CONFIG_USB_OHCI_HCD_AT91=m
CONFIG_USB_OHCI_HCD_OMAP3=m
CONFIG_USB_RENESAS_USBHS_HCD=m
CONFIG_USB_IMX21_HCD=m
CONFIG_USB_MTU3=m
# CONFIG_USB_MTU3_HOST is not set
# CONFIG_USB_MTU3_GADGET is not set
CONFIG_USB_MTU3_DUAL_ROLE=y
# CONFIG_USB_MTU3_DEBUG is not set
CONFIG_USB_DWC3_OMAP=m
CONFIG_USB_DWC3_EXYNOS=m
CONFIG_USB_DWC3_KEYSTONE=m
CONFIG_USB_DWC3_OF_SIMPLE=m
CONFIG_USB_DWC3_ST=m
CONFIG_USB_DWC3_QCOM=m
CONFIG_USB_CHIPIDEA=m
CONFIG_USB_CHIPIDEA_OF=m
CONFIG_USB_ISP1760=m
CONFIG_AB8500_USB=m
CONFIG_USB_MXS_PHY=m
CONFIG_USB_TEGRA_PHY=m
CONFIG_USB_AT91=m
CONFIG_USB_ATMEL_USBA=m
CONFIG_USB_FSL_USB2=m
CONFIG_USB_RENESAS_USB3=m
CONFIG_USB_SNP_CORE=m
CONFIG_USB_SNP_UDC_PLAT=m
CONFIG_USB_GADGET_XILINX=m
CONFIG_PWRSEQ_EMMC=m
CONFIG_PWRSEQ_SD8787=m
CONFIG_PWRSEQ_SIMPLE=m
CONFIG_MMC_ARMMMCI=m
CONFIG_MMC_SDHCI_OF_ARASAN=m
CONFIG_MMC_SDHCI_OF_AT91=m
CONFIG_MMC_SDHCI_OF_ESDHC=m
CONFIG_MMC_SDHCI_CADENCE=m
CONFIG_MMC_SDHCI_ESDHC_IMX=m
CONFIG_MMC_SDHCI_DOVE=m
CONFIG_MMC_SDHCI_TEGRA=m
CONFIG_MMC_SDHCI_S3C=m
CONFIG_MMC_SDHCI_SIRF=m
CONFIG_MMC_SDHCI_PXAV3=m
CONFIG_MMC_SDHCI_PXAV2=m
CONFIG_MMC_SDHCI_SPEAR=m
CONFIG_MMC_SDHCI_BCM_KONA=m
CONFIG_MMC_SDHCI_IPROC=m
CONFIG_MMC_MESON_GX=m
CONFIG_MMC_MESON_MX_SDIO=m
CONFIG_MMC_SDHCI_ST=m
CONFIG_MMC_OMAP=m
CONFIG_MMC_OMAP_HS=m
CONFIG_MMC_ATMELMCI=m
CONFIG_MMC_SDHCI_MSM=m
CONFIG_MMC_MXC=m
CONFIG_MMC_MVSDIO=m
CONFIG_MMC_TMIO_CORE=m
CONFIG_MMC_TMIO=m
CONFIG_MMC_SDHI=m
CONFIG_MMC_SDHI_SYS_DMAC=m
CONFIG_MMC_DW=m
CONFIG_MMC_DW_PLTFM=m
CONFIG_MMC_DW_EXYNOS=m
CONFIG_MMC_DW_HI3798CV200=m
CONFIG_MMC_DW_K3=m
CONFIG_MMC_DW_PCI=m
CONFIG_MMC_DW_ROCKCHIP=m
CONFIG_MMC_DW_ZX=m
CONFIG_MMC_SH_MMCIF=m
CONFIG_MMC_WMT=m
CONFIG_MMC_SUNXI=m
CONFIG_MMC_BCM2835=m
CONFIG_MMC_SDHCI_BRCMSTB=m
CONFIG_MMC_SDHCI_OMAP=m
CONFIG_LEDS_BCM6328=m
CONFIG_LEDS_BCM6358=m
CONFIG_LEDS_LM3692X=m
CONFIG_LEDS_NS2=m
CONFIG_LEDS_ASIC3=y
CONFIG_LEDS_IS31FL319X=m
CONFIG_LEDS_IS31FL32XX=m
CONFIG_LEDS_SYSCON=y
CONFIG_LEDS_PM8058=m
CONFIG_EDAC_LAYERSCAPE=m
CONFIG_EDAC_HIGHBANK_MC=m
CONFIG_EDAC_HIGHBANK_L2=m
CONFIG_EDAC_SYNOPSYS=m
CONFIG_EDAC_TI=m
CONFIG_RTC_MC146818_LIB=y
CONFIG_RTC_DRV_AC100=m
CONFIG_RTC_DRV_BRCMSTB=m
CONFIG_RTC_DRV_AS3722=m
CONFIG_RTC_DRV_MAX77686=m
CONFIG_RTC_DRV_ISL12026=m
CONFIG_RTC_DRV_TWL4030=m
CONFIG_RTC_DRV_CMOS=m
CONFIG_RTC_DRV_SPEAR=m
CONFIG_RTC_DRV_AB3100=m
CONFIG_RTC_DRV_AB8500=m
CONFIG_RTC_DRV_ZYNQMP=m
CONFIG_RTC_DRV_IMXDI=m
CONFIG_RTC_DRV_OMAP=m
CONFIG_RTC_DRV_SA1100=m
CONFIG_RTC_DRV_PL030=m
CONFIG_RTC_DRV_PL031=m
CONFIG_RTC_DRV_VT8500=m
CONFIG_RTC_DRV_SUNXI=m
CONFIG_RTC_DRV_MV=m
CONFIG_RTC_DRV_ARMADA38X=m
CONFIG_RTC_DRV_PM8XXX=m
CONFIG_RTC_DRV_TEGRA=m
CONFIG_RTC_DRV_MXC=m
CONFIG_RTC_DRV_MXC_V2=m
CONFIG_RTC_DRV_SNVS=m
CONFIG_RTC_DRV_SIRFSOC=m
CONFIG_RTC_DRV_ST_LPC=m
CONFIG_RTC_DRV_MT7622=m
CONFIG_RTC_DRV_R7301=m
CONFIG_RTC_DRV_STM32=m
CONFIG_AMBA_PL08X=y
CONFIG_AT_HDMAC=m
CONFIG_AT_XDMAC=m
CONFIG_AXI_DMAC=m
CONFIG_DMA_BCM2835=m
CONFIG_DMA_SUN4I=m
CONFIG_DMA_SUN6I=m
CONFIG_DW_AXI_DMAC=m
CONFIG_FSL_EDMA=m
CONFIG_IMX_DMA=m
CONFIG_IMX_SDMA=m
CONFIG_K3_DMA=m
CONFIG_MMP_PDMA=y
CONFIG_MMP_TDMA=y
CONFIG_NBPFAXI_DMA=m
# CONFIG_OWL_DMA is not set
CONFIG_PXA_DMA=y
CONFIG_SIRF_DMA=m
CONFIG_XILINX_DMA=m
CONFIG_XILINX_ZYNQMP_DMA=m
CONFIG_ZX_DMA=m
CONFIG_MTK_HSDMA=m
CONFIG_QCOM_BAM_DMA=m
CONFIG_SH_DMAE=m
CONFIG_RCAR_DMAC=m
CONFIG_SUDMAC=m
CONFIG_DMA_OMAP=m
CONFIG_HT16K33=m
CONFIG_ARM_CHARLCD=y
CONFIG_VFIO_PLATFORM=m
CONFIG_VFIO_AMBA=m
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=m
CONFIG_VFIO_PLATFORM_AMDXGBE_RESET=m
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=m
CONFIG_USB_EMXX=m
CONFIG_MFD_NVEC=m
CONFIG_KEYBOARD_NVEC=m
CONFIG_SERIO_NVEC_PS2=m
CONFIG_NVEC_POWER=m
CONFIG_NVEC_PAZ00=m
CONFIG_TEGRA_VDE=m
# CONFIG_ION_CMA_HEAP is not set
CONFIG_COMMON_CLK_XLNX_CLKWZRD=m
CONFIG_BCM_VIDEOCORE=m
CONFIG_BCM2835_VCHIQ=m
CONFIG_SND_BCM2835=m
CONFIG_CLK_HSDK=y
CONFIG_COMMON_CLK_MAX77686=m
CONFIG_COMMON_CLK_HI655X=m
CONFIG_COMMON_CLK_SCMI=m
CONFIG_COMMON_CLK_SI514=m
CONFIG_COMMON_CLK_SI570=m
CONFIG_COMMON_CLK_CDCE925=m
CONFIG_COMMON_CLK_AXI_CLKGEN=m
CONFIG_CLK_ACTIONS=y
CONFIG_COMMON_CLK_HI3516CV300=m
CONFIG_COMMON_CLK_HI3519=m
CONFIG_COMMON_CLK_HI3798CV200=m
CONFIG_TI_SCI_CLK=m
CONFIG_COMMON_CLK_MT2701_AUDSYS=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_COMMON_CLK_MT7622_HIFSYS=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_COMMON_CLK_QCOM=m
CONFIG_QCOM_A53PLL=m
CONFIG_QCOM_CLK_APCS_MSM8916=m
CONFIG_QCOM_CLK_RPM=m
CONFIG_QCOM_CLK_SMD_RPM=m
CONFIG_APQ_GCC_8084=m
CONFIG_APQ_MMCC_8084=m
CONFIG_IPQ_GCC_4019=m
CONFIG_IPQ_GCC_806X=m
CONFIG_IPQ_LCC_806X=m
CONFIG_IPQ_GCC_8074=m
CONFIG_MSM_GCC_8660=m
CONFIG_MSM_GCC_8916=m
CONFIG_MSM_GCC_8960=m
CONFIG_MSM_LCC_8960=m
CONFIG_MDM_GCC_9615=m
CONFIG_MDM_LCC_9615=m
CONFIG_MSM_MMCC_8960=m
CONFIG_MSM_GCC_8974=m
CONFIG_MSM_MMCC_8974=m
CONFIG_MSM_GCC_8994=m
CONFIG_MSM_GCC_8996=m
CONFIG_MSM_MMCC_8996=m
CONFIG_SPMI_PMIC_CLKDIV=m
CONFIG_CLK_RENESAS_LEGACY=y
# CONFIG_CLK_R9A06G032 is not set
CONFIG_CLK_RCAR_GEN2=y
CONFIG_CLK_RCAR_USB2_CLOCK_SEL=y
CONFIG_EXYNOS_AUDSS_CLK_CON=m
CONFIG_SUN8I_DE2_CCU=y
CONFIG_CLK_TEGRA_BPMP=y
CONFIG_COMMON_CLK_TI_ADPLL=m
CONFIG_HWSPINLOCK_OMAP=m
CONFIG_HWSPINLOCK_QCOM=m
CONFIG_HWSPINLOCK_SIRF=m
CONFIG_HSEM_U8500=m
CONFIG_OWL_TIMER=y
CONFIG_NPCM7XX_TIMER=y
CONFIG_CLKSRC_TANGO_XTAL=y
CONFIG_ARM_MHU=m
CONFIG_PLATFORM_MHU=m
CONFIG_OMAP2PLUS_MBOX=m
CONFIG_OMAP_MBOX_KFIFO_SIZE=256
CONFIG_ROCKCHIP_MBOX=y
CONFIG_BCM2835_MBOX=m
CONFIG_TI_MESSAGE_MANAGER=m
CONFIG_HI3660_MBOX=m
CONFIG_HI6220_MBOX=m
CONFIG_MAILBOX_TEST=m
CONFIG_QCOM_APCS_IPC=m
CONFIG_TEGRA_HSP_MBOX=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
# CONFIG_IOMMU_IO_PGTABLE_LPAE_SELFTEST is not set
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_IOMMU_DMA=y
CONFIG_MSM_IOMMU=y
CONFIG_IOMMU_PGTABLES_L2=y
CONFIG_OMAP_IOMMU=y
# CONFIG_OMAP_IOMMU_DEBUG is not set
CONFIG_EXYNOS_IOMMU=y
# CONFIG_EXYNOS_IOMMU_DEBUG is not set
CONFIG_IPMMU_VMSA=y
CONFIG_ARM_SMMU=y
CONFIG_MTK_IOMMU=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_QCOM_IOMMU=y
CONFIG_IMX_REMOTEPROC=m
CONFIG_OMAP_REMOTEPROC=m
CONFIG_WKUP_M3_RPROC=m
CONFIG_KEYSTONE_REMOTEPROC=m
CONFIG_QCOM_SYSMON=m
CONFIG_RPMSG_QCOM_GLINK_SMEM=m
# CONFIG_RPMSG_QCOM_SMD is not set
CONFIG_OWL_PM_DOMAINS_HELPER=y
CONFIG_OWL_PM_DOMAINS=y
CONFIG_MTK_PMIC_WRAP=m
CONFIG_QCOM_GSBI=m
CONFIG_QCOM_MDT_LOADER=m
CONFIG_QCOM_QMI_HELPERS=m
CONFIG_QCOM_RMTFS_MEM=m
CONFIG_QCOM_SMEM=m
CONFIG_QCOM_SMEM_STATE=y
CONFIG_QCOM_SMP2P=m
CONFIG_QCOM_SMSM=m
CONFIG_SOC_TEGRA_POWERGATE_BPMP=y
CONFIG_SOC_REALVIEW=y
# CONFIG_SOC_ZTE is not set
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=m
CONFIG_ARM_RK3399_DMC_DEVFREQ=m
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP=m
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=m
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=m
CONFIG_ARM_PL172_MPMC=m
CONFIG_TI_AEMIF=m
CONFIG_TI_EMIF=m
CONFIG_TI_EMIF_SRAM=m
CONFIG_FSL_IFC=y
CONFIG_MTK_SMI=y
CONFIG_DMARD06=m
CONFIG_BCM_IPROC_ADC=m
CONFIG_ENVELOPE_DETECTOR=m
CONFIG_IMX7D_ADC=m
CONFIG_MEDIATEK_MT6577_AUXADC=m
CONFIG_MESON_SARADC=m
CONFIG_ROCKCHIP_SARADC=m
CONFIG_SPEAR_ADC=m
CONFIG_SD_ADC_MODULATOR=m
CONFIG_STM32_ADC_CORE=m
CONFIG_STM32_ADC=m
CONFIG_STM32_DFSDM_CORE=m
CONFIG_STM32_DFSDM_ADC=m
CONFIG_TI_ADS8688=m
CONFIG_XILINX_XADC=m
CONFIG_STM32_LPTIMER_CNT=m
CONFIG_DPOT_DAC=m
CONFIG_MAX5821=m
CONFIG_STM32_DAC=m
CONFIG_STM32_DAC_CORE=m
CONFIG_VF610_DAC=m
CONFIG_AK8974=m
CONFIG_IIO_MUX=m
CONFIG_IIO_STM32_LPTIMER_TRIGGER=m
CONFIG_IIO_STM32_TIMER_TRIGGER=m
CONFIG_PWM_AB8500=m
CONFIG_PWM_BCM_IPROC=m
CONFIG_PWM_BCM_KONA=m
CONFIG_PWM_BCM2835=m
CONFIG_PWM_BERLIN=m
CONFIG_PWM_HIBVT=m
CONFIG_PWM_IMX=m
CONFIG_PWM_MTK_DISP=m
CONFIG_PWM_OMAP_DMTIMER=m
CONFIG_PWM_RENESAS_TPU=m
CONFIG_PWM_SPEAR=m
CONFIG_PWM_STI=m
CONFIG_PWM_STM32=m
CONFIG_PWM_STM32_LP=m
CONFIG_PWM_SUN4I=m
CONFIG_PWM_TEGRA=m
CONFIG_PWM_TIECAP=m
CONFIG_PWM_TIEHRPWM=m
CONFIG_PWM_TIPWMSS=y
CONFIG_PWM_VT8500=m
CONFIG_PWM_ZX=m
CONFIG_ARM_GIC_MAX_NR=2
CONFIG_ARM_VIC=y
CONFIG_ARM_VIC_NR=4
CONFIG_TANGO_IRQ=y
CONFIG_TS4800_IRQ=m
CONFIG_KEYSTONE_IRQ=m
CONFIG_QCOM_PDC=y
# CONFIG_RESET_A10SR is not set
CONFIG_RESET_TI_SCI=m
CONFIG_RESET_UNIPHIER=m
CONFIG_COMMON_RESET_HI6220=m
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_PHY_SUN4I_USB=m
CONFIG_PHY_SUN9I_USB=m
CONFIG_PHY_MESON8B_USB2=m
CONFIG_PHY_MESON_GXL_USB2=m
CONFIG_PHY_CYGNUS_PCIE=m
CONFIG_PHY_BCM_NS_USB2=m
CONFIG_PHY_BCM_NS_USB3=m
CONFIG_PHY_NS2_PCIE=m
CONFIG_PHY_NS2_USB_DRD=m
CONFIG_PHY_BRCM_SATA=m
CONFIG_PHY_BRCM_USB=m
CONFIG_PHY_HIX5HD2_SATA=m
CONFIG_PHY_BERLIN_SATA=m
CONFIG_PHY_BERLIN_USB=m
CONFIG_PHY_MVEBU_CP110_COMPHY=m
CONFIG_PHY_MTK_TPHY=m
CONFIG_PHY_MAPPHONE_MDM6600=m
CONFIG_PHY_QCOM_IPQ806X_SATA=m
CONFIG_PHY_QCOM_UFS=m
CONFIG_PHY_RCAR_GEN3_USB2=m
CONFIG_PHY_RCAR_GEN3_USB3=m
CONFIG_PHY_ROCKCHIP_EMMC=m
CONFIG_PHY_ROCKCHIP_INNO_USB2=m
CONFIG_PHY_ROCKCHIP_PCIE=m
CONFIG_PHY_ROCKCHIP_TYPEC=m
CONFIG_PHY_ROCKCHIP_USB=m
CONFIG_PHY_EXYNOS_DP_VIDEO=m
CONFIG_PHY_EXYNOS_MIPI_VIDEO=m
CONFIG_PHY_S5PV210_USB2=y
CONFIG_PHY_EXYNOS5_USBDRD=m
CONFIG_PHY_EXYNOS5250_SATA=m
CONFIG_PHY_MIPHY28LP=m
CONFIG_PHY_STIH407_USB=m
CONFIG_PHY_STM32_USBPHYC=m
CONFIG_PHY_TEGRA_XUSB=m
CONFIG_OMAP_CONTROL_PHY=m
CONFIG_OMAP_USB2=m
CONFIG_TI_PIPE3=m
CONFIG_ARM_CCI_PMU=y
CONFIG_ARM_CCI400_PMU=y
CONFIG_ARM_CCI5xx_PMU=y
CONFIG_ARM_CCN=m
# CONFIG_LIBNVDIMM is not set
CONFIG_NVMEM_IMX_OCOTP=m
CONFIG_MTK_EFUSE=m
CONFIG_QCOM_QFPROM=m
CONFIG_ROCKCHIP_EFUSE=m
CONFIG_NVMEM_BCM_OCOTP=m
CONFIG_NVMEM_SUNXI_SID=m
CONFIG_UNIPHIER_EFUSE=m
CONFIG_NVMEM_VF610_OCOTP=m
CONFIG_MESON_MX_EFUSE=m
CONFIG_NVMEM_SNVS_LPGPR=m
CONFIG_MULTIPLEXER=m
# Multiplexer drivers
CONFIG_MUX_ADG792A=m
# CONFIG_MUX_ADGS1408 is not set
CONFIG_MUX_GPIO=m
CONFIG_MUX_MMIO=m
# CONFIG_SLIM_QCOM_NGD_CTRL is not set
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_QUOTA=y
# CONFIG_QUOTA_NETLINK_INTERFACE is not set
# CONFIG_QUOTA_DEBUG is not set
CONFIG_QUOTA_TREE=m
# CONFIG_QFMT_V2 is not set
CONFIG_QUOTACTL=y
# CONFIG_JOLIET is not set
# CONFIG_ZISOFS is not set
# CONFIG_HUGETLBFS is not set
CONFIG_CRYPTO_AEAD=y
CONFIG_CRYPTO_BLKCIPHER=y
CONFIG_CRYPTO_RNG=y
CONFIG_CRYPTO_RNG_DEFAULT=y
CONFIG_CRYPTO_GF128MUL=y
CONFIG_CRYPTO_NULL=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_CTR=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_GHASH=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_CRYPTO_DRBG=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_DEV_FSL_CAAM=m
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=m
CONFIG_CRYPTO_DEV_FSL_CAAM_RINGSIZE=9
CONFIG_CRYPTO_DEV_FSL_CAAM_INTC=y
CONFIG_CRYPTO_DEV_FSL_CAAM_INTC_COUNT_THLD=255
CONFIG_CRYPTO_DEV_FSL_CAAM_INTC_TIME_THLD=2048
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=m
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=m
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=m
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=m
# CONFIG_CRYPTO_DEV_FSL_CAAM_DEBUG is not set
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=m
CONFIG_CRYPTO_DEV_OMAP=m
CONFIG_CRYPTO_DEV_OMAP_SHAM=m
CONFIG_CRYPTO_DEV_OMAP_AES=m
CONFIG_CRYPTO_DEV_OMAP_DES=m
CONFIG_CRYPTO_DEV_SAHARA=m
CONFIG_CRYPTO_DEV_MXC_SCC=m
CONFIG_CRYPTO_DEV_UX500=m
CONFIG_CRYPTO_DEV_UX500_CRYP=m
CONFIG_CRYPTO_DEV_UX500_HASH=m
# CONFIG_CRYPTO_DEV_UX500_DEBUG is not set
CONFIG_CRYPTO_DEV_ATMEL_ECC=m
CONFIG_CRYPTO_DEV_MXS_DCP=m
CONFIG_CRYPTO_DEV_QCE=m
CONFIG_CRYPTO_DEV_SUN4I_SS_PRNG=y
CONFIG_CRYPTO_DEV_STM32_CRC=m
CONFIG_CRYPTO_DEV_STM32_HASH=m
CONFIG_CRYPTO_DEV_STM32_CRYP=m
CONFIG_CRYPTO_DEV_ARTPEC6=m
CONFIG_CRYPTO_DEV_CCREE=m
CONFIG_INTERVAL_TREE=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=m
CONFIG_GENERIC_TRACER=y
# CONFIG_FTRACE_STARTUP_TEST is not set
CONFIG_ARM_PTDUMP_CORE=y
CONFIG_ARM_PTDUMP_DEBUGFS=y
# CONFIG_XEN is not set
