++ i386-omvconfig 2018-09-12 01:58:53.355857931 +0200
CONFIG_PGTABLE_LEVELS=3
CONFIG_INTEL_RDT=y
CONFIG_X86_INTEL_QUARK=y
CONFIG_X86_INTEL_LPSS=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_X86_RDC321X=y
CONFIG_X86_32_IRIS=m
# CONFIG_XEN is not set
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_CPU_SUP_UMC_32=y
CONFIG_TOSHIBA=m
CONFIG_X86_MSR=m
CONFIG_X86_CPUID=m
# CONFIG_HIGHMEM4G is not set
CONFIG_HIGHMEM64G=y
CONFIG_VMSPLIT_3G=y
# CONFIG_VMSPLIT_2G is not set
# CONFIG_VMSPLIT_1G is not set
CONFIG_X86_PAE=y
# CONFIG_X86_PMEM_LEGACY is not set
# CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK is not set
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_X86_APM_BOOT=y
CONFIG_APM=m
# CONFIG_APM_IGNORE_USER_SUSPEND is not set
# CONFIG_APM_DO_ENABLE is not set
# CONFIG_APM_CPU_IDLE is not set
CONFIG_APM_DISPLAY_BLANK=y
# CONFIG_APM_ALLOW_INTS is not set
CONFIG_X86_PCC_CPUFREQ=m
CONFIG_X86_ACPI_CPUFREQ=m
CONFIG_X86_POWERNOW_K6=m
CONFIG_X86_POWERNOW_K7=m
CONFIG_X86_POWERNOW_K7_ACPI=y
CONFIG_X86_POWERNOW_K8=m
CONFIG_X86_AMD_FREQ_SENSITIVITY=m
CONFIG_X86_GX_SUSPMOD=m
CONFIG_X86_SPEEDSTEP_CENTRINO=m
CONFIG_X86_SPEEDSTEP_CENTRINO_TABLE=y
CONFIG_X86_SPEEDSTEP_ICH=m
CONFIG_X86_SPEEDSTEP_SMI=m
CONFIG_X86_P4_CLOCKMOD=m
CONFIG_X86_CPUFREQ_NFORCE2=m
CONFIG_X86_LONGRUN=m
CONFIG_X86_LONGHAUL=m
CONFIG_X86_SPEEDSTEP_LIB=m
CONFIG_X86_SPEEDSTEP_RELAXED_CAP_CHECK=y
CONFIG_PCI_ATS=y
CONFIG_HOTPLUG_PCI_COMPAQ=m
CONFIG_HOTPLUG_PCI_COMPAQ_NVRAM=y
CONFIG_HOTPLUG_PCI_IBM=m
CONFIG_SCx200=m
CONFIG_SCx200HR_TIMER=m
CONFIG_ALIX=y
CONFIG_NET5501=y
CONFIG_GEOS=y
CONFIG_UEFI_CPER_X86=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_BINFMT_AOUT=m
# CONFIG_FLATMEM_MANUAL is not set
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_SPARSEMEM=y
CONFIG_HAVE_MEMORY_PRESENT=y
# CONFIG_MEMORY_HOTPLUG is not set
CONFIG_PHYS_ADDR_T_64BIT=y
# CONFIG_DEFERRED_STRUCT_PAGE_INIT is not set
# CONFIG_BAYCOM_EPP is not set
CONFIG_PCH_CAN=m
CONFIG_MTD_SCx200_DOCFLASH=m
CONFIG_MTD_NAND_CS553X=m
CONFIG_PARIDE_BPCK6=m
CONFIG_CS5535_MFGPT=m
CONFIG_CS5535_MFGPT_DEFAULT_IRQ=7
CONFIG_CS5535_CLOCK_EVENT_SRC=m
CONFIG_PCH_PHUB=m
CONFIG_BLK_DEV_CS5520=m
CONFIG_BLK_DEV_CS5530=m
CONFIG_BLK_DEV_CS5535=m
CONFIG_BLK_DEV_CS5536=m
CONFIG_BLK_DEV_SC1200=m
CONFIG_SCSI_NSP32=m
CONFIG_PCMCIA_NINJA_SCSI=m
CONFIG_PATA_CS5520=m
CONFIG_PATA_CS5530=m
CONFIG_PATA_CS5535=m
CONFIG_PATA_CS5536=m
CONFIG_PATA_SC1200=m
CONFIG_PCH_GBE=m
CONFIG_INPUT_WISTRON_BTNS=m
CONFIG_SERIAL_TIMBERDALE=m
CONFIG_SERIAL_PCH_UART=m
CONFIG_HW_RANDOM_GEODE=m
CONFIG_SONYPI=m
CONFIG_SCx200_GPIO=m
CONFIG_PC8736x_GPIO=m
CONFIG_NSC_GPIO=m
CONFIG_I2C_EG20T=m
CONFIG_SCx200_ACB=m
CONFIG_SPI_TOPCLIFF_PCH=m
CONFIG_PTP_1588_CLOCK_PCH=m
CONFIG_GPIO_CS5535=m
CONFIG_GPIO_TIMBERDALE=y
CONFIG_GPIO_PCH=m
CONFIG_INTEL_QUARK_DTS_THERMAL=m
CONFIG_GEODE_WDT=m
CONFIG_SCx200_WDT=m
CONFIG_RDC321X_WDT=m
CONFIG_SBC8360_WDT=m
CONFIG_SBC7240_WDT=m
CONFIG_MFD_CS5535=m
CONFIG_MFD_TIMBERDALE=m
CONFIG_RADIO_TIMBERDALE=m
CONFIG_AGP_ALI=m
CONFIG_AGP_ATI=m
CONFIG_AGP_AMD=m
CONFIG_AGP_NVIDIA=m
CONFIG_AGP_SWORKS=m
CONFIG_AGP_EFFICEON=m
CONFIG_FB_SYS_FILLRECT=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_FB_SYS_IMAGEBLIT=m
CONFIG_FB_SYS_FOPS=m
CONFIG_FB_I810=m
# CONFIG_FB_I810_GTF is not set
CONFIG_FB_GEODE=y
CONFIG_FB_GEODE_LX=m
CONFIG_FB_GEODE_GX=m
CONFIG_FB_GEODE_GX1=m
CONFIG_BACKLIGHT_OT200=m
CONFIG_SND_SB16_DSP=m
CONFIG_SND_CS5530=m
CONFIG_SND_CS5535AUDIO=m
CONFIG_SND_SIS7019=m
CONFIG_LEDS_NET48XX=m
CONFIG_LEDS_WRAP=m
CONFIG_LEDS_OT200=m
CONFIG_EDAC_AMD76X=m
CONFIG_EDAC_E7XXX=m
CONFIG_EDAC_I82875P=m
CONFIG_EDAC_I82860=m
CONFIG_EDAC_R82600=m
CONFIG_PCH_DMA=m
CONFIG_TIMB_DMA=m
CONFIG_COMEDI_SSV_DNP=m
CONFIG_TC1100_WMI=m
CONFIG_INTEL_IMR=y
# CONFIG_LIBNVDIMM is not set
CONFIG_CRYPTO_GLUE_HELPER_X86=m
CONFIG_CRYPTO_AES_586=m
CONFIG_CRYPTO_SERPENT_SSE2_586=m
CONFIG_CRYPTO_TWOFISH_586=m
CONFIG_CRYPTO_DEV_GEODE=m
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_SWIOTLB=y
CONFIG_HAVE_FENTRY=y
CONFIG_BPF_KPROBE_OVERRIDE=y
# CONFIG_DEBUG_IMR_SELFTEST is not set
# CONFIG_X86_DEBUG_FPU is not set
# CONFIG_UNWINDER_FRAME_POINTER is not set
CONFIG_UNWINDER_GUESS=y
