CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_X86=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_OUTPUT_FORMAT="elf64-x86-64"
CONFIG_ARCH_DEFCONFIG="arch/x86/configs/x86_64_defconfig"
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_MMU=y
CONFIG_ARCH_MMAP_RND_BITS_MIN=28
CONFIG_ARCH_MMAP_RND_BITS_MAX=32
CONFIG_ARCH_MMAP_RND_COMPAT_BITS_MIN=8
CONFIG_ARCH_MMAP_RND_COMPAT_BITS_MAX=16
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_GENERIC_BUG=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_ZONE_DMA32=y
CONFIG_AUDIT_ARCH=y
CONFIG_ARCH_SUPPORTS_OPTIMIZED_INLINING=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_HAVE_INTEL_TXT=y
CONFIG_X86_64_SMP=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_DEBUG_RODATA=y
CONFIG_PGTABLE_LEVELS=4
CONFIG_DEFCONFIG_LIST="/lib/modules/$UNAME_RELEASE/.config"
CONFIG_IRQ_WORK=y
CONFIG_BUILDTIME_EXTABLE_SORT=y
CONFIG_THREAD_INFO_IN_TASK=y

#
# Kernel Performance Events And Counters
#
CONFIG_ARCH_MMAP_RND_BITS=28
CONFIG_ARCH_MMAP_RND_COMPAT_BITS=8

#
# Processor type and features
#
CONFIG_X86_FEATURE_NAMES=y
CONFIG_X86_FAST_FEATURE_TESTS=y
CONFIG_X86_X2APIC=y
CONFIG_X86_MPPARSE=y
CONFIG_X86_EXTENDED_PLATFORM=y
# CONFIG_X86_NUMACHIP is not set
# CONFIG_X86_VSMP is not set
# CONFIG_X86_UV is not set
# CONFIG_X86_GOLDFISH is not set
# CONFIG_X86_INTEL_MID is not set
CONFIG_X86_INTEL_LPSS=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_X86_INTERNODE_CACHE_SHIFT=6
CONFIG_X86_L1_CACHE_SHIFT=6
CONFIG_X86_TSC=y
CONFIG_X86_CMPXCHG64=y
CONFIG_X86_CMOV=y
CONFIG_X86_MINIMUM_CPU_FAMILY=64
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_X86_IO_APIC=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_X86_MCE=y
CONFIG_X86_MCE_INTEL=y
CONFIG_X86_MCE_AMD=y
CONFIG_X86_MCE_THRESHOLD=y
# CONFIG_X86_MCE_INJECT is not set
CONFIG_X86_THERMAL_VECTOR=y

#
# Performance monitoring
#
# CONFIG_VM86 is not set
CONFIG_X86_16BIT=y
CONFIG_X86_ESPFIX64=y
CONFIG_X86_VSYSCALL_EMULATION=y
CONFIG_X86_MSR=m
CONFIG_X86_CPUID=m
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_X86_64_ACPI_NUMA=y
# CONFIG_X86_PMEM_LEGACY is not set
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
# CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK is not set
CONFIG_X86_RESERVE_LOW=64
CONFIG_X86_PAT=y
CONFIG_X86_SMAP=y
# CONFIG_X86_INTEL_MPX is not set
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
CONFIG_X86_NEED_RELOCS=y

#
# Power management and ACPI options
#
CONFIG_X86_PM_TIMER=y

#
# CPU frequency scaling drivers
#
CONFIG_X86_INTEL_PSTATE=y
CONFIG_X86_PCC_CPUFREQ=m
CONFIG_X86_ACPI_CPUFREQ=m
CONFIG_X86_ACPI_CPUFREQ_CPB=y
CONFIG_X86_POWERNOW_K8=m
CONFIG_X86_AMD_FREQ_SENSITIVITY=m
CONFIG_X86_SPEEDSTEP_CENTRINO=m
CONFIG_X86_P4_CLOCKMOD=m

#
# shared options
#
CONFIG_X86_SPEEDSTEP_LIB=m

#
# RapidIO Switch drivers
#
# CONFIG_X86_SYSFB is not set

#
# Executable file formats / Emulations
#
CONFIG_IA32_EMULATION=y
CONFIG_IA32_AOUT=m
CONFIG_X86_X32=y
CONFIG_X86_DEV_DMA_OPS=y

#
# ACPI drivers
#
CONFIG_X86_PKG_TEMP_THERMAL=m

CONFIG_X86_PLATFORM_DEVICES=y

#
# Runtime Testing
#
# CONFIG_X86_VERBOSE_BOOTUP is not set
# CONFIG_X86_PTDUMP_CORE is not set
# CONFIG_X86_PTDUMP is not set
# CONFIG_X86_DECODER_SELFTEST is not set
# CONFIG_X86_DEBUG_FPU is not set
CONFIG_PTP_1588_CLOCK_KVM=m
CONFIG_NUC7018_WDT=m
# CONFIG_DRM_I915_SW_FENCE_DEBUG_OBJECTS is not set
CONFIG_DRM_AMD_DC_DCN1_0=y
CONFIG_SND_SOC_INTEL_BDW_RT5677_MACH=m
CONFIG_SND_SOC_ES8328_I2C=m
CONFIG_SND_SOC_ES8328_SPI=m
CONFIG_SND_X86=y
CONFIG_HDMI_LPE_AUDIO=m
CONFIG_INTEL_TURBO_MAX_3=y
CONFIG_SILEAD_DMI=y
CONFIG_NIC7018_WDT=m
CONFIG_XEN_PV=y
# CONFIG_X86_MCELOG_LEGACY is not set
CONFIG_XPOWER_PMIC_OPREGION=y
# CONFIG_DRM_I915_SELFTEST is not set
# CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS is not set
# CONFIG_DRM_I915_DEBUG_VBLANK_EVADE is not set
CONFIG_EDAC_GHES=y
CONFIG_INTEL_ATOMISP=y
CONFIG_RAS_CEC=y
CONFIG_EARLY_PRINTK_USB_XDBC=y
CONFIG_VIDEO_IMX=m
CONFIG_PINCTRL_CANNONLAKE=m
CONFIG_INTEL_SOC_PMIC_CHTWC=m
CONFIG_DRM_I915_SW_FENCE_CHECK_DAG=m
CONFIG_SND_SOC_INTEL_BYT_CHT_ES8316_MACH=m
CONFIG_SND_SOC_INTEL_KBL_RT5663_MAX98927_MACH=m
CONFIG_SND_SOC_INTEL_KBL_RT5663_RT5514_MAX98927_MACH=m
CONFIG_UCSI_ACPI=m
CONFIG_DRM_VBOXVIDEO=m
CONFIG_VBOXSF_FS=m
CONFIG_WMI_BMOF=m
CONFIG_PEAQ_WMI=m
CONFIG_INTEL_INT0002_VGPIO=m
CONFIG_CROS_EC_LPC_MEC=m
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_CRYPTO_DEV_NITROX_CNN55XX=m
CONFIG_CHT_WC_PMIC_OPREGION=y
# CONFIG_DRM_I915_SW_FENCE_CHECK_DAG is not set
# CONFIG_CROS_EC_LPC_MEC is not set
# CONFIG_EXTCON_INTEL_CHT_WC is not set
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_INTEL_RDT=y
# CONFIG_X86_5LEVEL is not set
CONFIG_AMD_MEM_ENCRYPT=y
# CONFIG_AMD_MEM_ENCRYPT_ACTIVE_BY_DEFAULT is not set
CONFIG_HMM_MIRROR=y
CONFIG_DEVICE_PRIVATE=y
CONFIG_DEVICE_PUBLIC=y
CONFIG_HYPERV_VSOCKETS=m
# CONFIG_SPI_INTEL_SPI_PCI is not set
CONFIG_HINIC=m
CONFIG_PINCTRL_DENVERTON=m
CONFIG_PINCTRL_LEWISBURG=m
CONFIG_CLOCK_THERMAL=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_INTEL_SOC_PMIC_CHTWC=y
CONFIG_MFD_TPS68470=y
CONFIG_CRYPTO_DEV_SP_CCP=y
CONFIG_I2C_CHT_WC=m
CONFIG_GPIO_TPS68470=y
# CONFIG_UNWINDER_FRAME_POINTER is not set
CONFIG_UNWINDER_ORC=y
# CONFIG_UNWINDER_GUESS is not set
CONFIG_X86_INTEL_UMIP=y
CONFIG_TPS68470_PMIC_OPREGION=y
CONFIG_CHT_DC_TI_PMIC_OPREGION=y
CONFIG_THUNDERBOLT_NET=m
CONFIG_PINCTRL_CEDARFORK=m
CONFIG_INTEL_SOC_PMIC_CHTDC_TI=m
CONFIG_SND_SOC_INTEL_SST_TOPLEVEL=m
CONFIG_SND_SOC_INTEL_BAYTRAIL=m
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM=m
CONFIG_LEDS_APU=m
CONFIG_VIDEO_ATOMISP_OV5693=m
CONFIG_VIDEO_ATOMISP_OV2722=m
CONFIG_VIDEO_ATOMISP_GC2235=m
CONFIG_VIDEO_ATOMISP_MSRLIST_HELPER=m
CONFIG_VIDEO_ATOMISP_MT9M114=m
CONFIG_VIDEO_ATOMISP_GC0310=m
CONFIG_VIDEO_ATOMISP_OV2680=m
CONFIG_VIDEO_ATOMISP_LM3554=m
CONFIG_DELL_SMBIOS_WMI=m
CONFIG_DELL_SMBIOS_SMM=m
CONFIG_INTEL_WMI_THUNDERBOLT=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_PAGE_TABLE_ISOLATION=y
CONFIG_RETPOLINE=y
CONFIG_JAILHOUSE_GUEST=y
CONFIG_ACPI_SPCR_TABLE=y
CONFIG_CAVIUM_PTP=m
CONFIG_SND_SOC_INTEL_SST_TOPLEVEL=y
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_PCI=m
CONFIG_SND_SOC_INTEL_BYT_MAX98090_MACH=m
CONFIG_SND_SOC_INTEL_BYT_RT5640_MACH=m
CONFIG_MMC_SDHCI_F_SDH30=m
CONFIG_VBOXGUEST=m
CONFIG_ACER_WIRELESS=m
CONFIG_DELL_SMBIOS_WMI=y
CONFIG_DELL_SMBIOS_SMM=y
CONFIG_GPD_POCKET_FAN=m
CONFIG_INTEL_CHTDC_TI_PWRBTN=m
CONFIG_MELLANOX_PLATFORM=y
CONFIG_SOUNDWIRE_INTEL=m
# CONFIG_BPF_KPROBE_OVERRIDE is not set
CONFIG_CRYPTO_DEV_SP_PSP=y
CONFIG_KVM_AMD_SEV=y
CONFIG_MLXREG_HOTPLUG=m
