# CONFIG_GENERIC_CPU is not set
CONFIG_MZEN=y
# CONFIG_X86_MCE_INTEL is not set
CONFIG_CPU_SUP_AMD=y
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_MICROCODE_INTEL is not set
# CONFIG_INTEL_ATOMISP is not set
# CONFIG_INTEL_SOC_PMIC_CHTWC is not set
# CONFIG_SND_SOC_INTEL_BYT_CHT_ES8316_MACH is not set
# CONFIG_SND_SOC_INTEL_KBL_RT5663_MAX98927_MACH is not set
# CONFIG_SND_SOC_INTEL_KBL_RT5663_RT5514_MAX98927_MACH is not set
# CONFIG_INTEL_INT0002_VGPIO is not set
# CONFIG_INTEL_RDT is not set
# CONFIG_INTEL_SOC_PMIC_CHTWC is not set
# CONFIG_X86_INTEL_UMIP is not set
# CONFIG_INTEL_SOC_PMIC_CHTDC_TI is not set
# CONFIG_SND_SOC_INTEL_SST_TOPLEVEL is not set
# CONFIG_SND_SOC_INTEL_BAYTRAIL is not set
# CONFIG_SND_SOC_INTEL_BYT_MAX98090_MACH is not set
# CONFIG_SND_SOC_INTEL_BYT_RT5640_MACH is not set
# CONFIG_SND_SOC_INTEL_CHT_BSW_NAU8824_MACH is not set
